.form-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title {
    margin: 35px 0px;
    font-size: 50px;
}

.form-btn-div {
    height:fit-content;
    width: 225px;
    background-color: gray;
    padding: 10px 20px;
}

.form-name {
    min-width: 70px;
    max-width: 250px;
    height:50px;
    padding: 10px 10px;
    border-radius: 10px;
    overflow: auto;
    background-color: rgb(128, 167, 173);
    display: flex;
    align-items: center;
}

.save-button {
    border: none;
    background-color: rgb(93, 170, 140);
    border-radius: 10px;
    padding: 6px 10px;
}

.title-container {
    width: 97%;
    padding: 20px 20px;
    border-radius: 10px;
}

.form-title {
    font-size: 35px;
    margin-bottom: 20px;
    position: relative;
}

.form-description {
    margin-bottom: 6px;
}

.underlined {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        border-bottom: 1px solid rgb(172, 172, 172);
        width: 100%;
    }

    &:focus::before {
        border-radius: 50px;
        border-color: rgb(45, 183, 207);
        border-width: 2px;
    }
}

div[contenteditable] {
    
    &:focus {
        outline: none;
    }

    &[data-placeholder]:empty::after {
        content: attr(data-placeholder);
        color: rgb(172, 172, 172);
        cursor: text;
        user-select: none;
        display: inline-block;
    }

    &[data-placeholder]:focus::after {
        content: "";
    }
}

@media (min-width: 768px) {
    .title-container {
        width: 60%;
    }
}