{% extends "layout.html" %}

{% block title %}NewFORMS{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">NewFORMS</a>
            <a href="{{ url_for('logout')}}" class="mx-3 nav-link">Logout</a> 
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center home-title">Welcome, {{ user }}</h1>
        
        <div class="my-5">
            <p class="fs-5">Create a new form:</p>
            <a href="{{ url_for('create_form') }}">
                <img height="130px" src="/static/images/add_image.png" alt="add_forms">
            </a>
        </div>

        <div class="my-5">
            <p class="fs-5">Recent forms:</p>

            <div class="d-flex flex-wrap">
            {% if forms %}
                {% for form in forms %}
                    <div class="me-3 mb-4 d-flex flex-column">
                        <form action="/e/{{ form[1] }}" method="get">
                            <button class="form-btn-div mb-2">
                                {{ form[0] }}
                            </button>
                        </form>

                        <div class="mb-1">
                            <span>Created at </span>
                            <span class="time-data">{{ form[2] }}</span>
                        </div>
                        
                        <form method="post" action="{{ url_for('delete_form') }}">
                            <input type="hidden" value="{{ form[1] }}" name="form_id">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                {% endfor %}
            
            {% else %}
                <span class="mx-3 text-primary">No forms yet!</span>
            {% endif %}
            </div>
        </div>
        
    </div>
{% endblock %}

{% block script %}
    <script>
        // Transform the time data for the user's timezone
        function convert_timezone(elem) {
            const default_time = elem.innerText;

            // Ajust time string for format ISO 8601
            const time_ISO = default_time.replace(" ", "T") + "Z"
            
            const local_time = new Date(time_ISO);

            elem.innerText = local_time.toLocaleString();
        }

        document.querySelectorAll(".time-data").forEach(elem => convert_timezone(elem));
    </script>
{% endblock %}